body {
    background: url(../images/personal_data_form_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#PersonalDataForm{
    width:40%;
    margin-top:7%;
    margin-left:auto;
    margin-right: auto;
}
.container {
    width: 400px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}